{% extends 'base.html' %}
{% block content %}
<div class="panel p-3 p-md-4 mb-4">
  <h2 class="h4 mb-3">Top Schools Ranking</h2>
  <form class="row g-2" method="get">
    <div class="col-md-4"><input class="form-control" name="school_name" value="{{ school_name }}" placeholder="搜索学校名称" /></div>
    <div class="col-md-4"><input class="form-control" name="english_name" value="{{ english_name }}" placeholder="搜索英文名" /></div>
    <div class="col-md-4"><input class="form-control" name="region" value="{{ region }}" placeholder="搜索国家/地区" /></div>
    <div class="col-md-3"><button class="btn btn-primary w-100 mt-2">筛选结果</button></div>
  </form>
</div>

<div class="table-wrap p-2 p-md-3">
  <div class="table-responsive">
    <table class="table table-striped align-middle mb-0">
      <thead><tr><th>#</th><th>学校名称</th><th>英文名</th><th>国家/地区</th><th>QS</th><th>USNews</th><th>THE</th><th>ARWU</th><th>历史数据</th></tr></thead>
      <tbody>
        {% for r in rankings %}
        <tr>
          <td>{{ r.rank }}</td><td>{{ r.school_name }}</td><td>{{ r.english_name }}</td><td>{{ r.region }}</td><td>{{ '%.1f'|format(r.qs) }}</td><td>{{ '%.1f'|format(r.usnews) }}</td><td>{{ '%.1f'|format(r.the) }}</td><td>{{ '%.1f'|format(r.arwu) }}</td><td>{{ r.history_data }}</td>
        </tr>
        {% else %}
        <tr><td colspan="9" class="text-center py-4">暂无数据</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
